.validation-error {
    color: red;
}

@media (min-width: 1200px) {
    .mini-calendar-output-wrapper .logseq-tools-multiple-calendars {
        display: grid;
        grid-template-columns: auto auto;
    }
}

.mini-calendar-output-wrapper .logseq-tools-calendar {
    margin-bottom: 15px;
}

.logseq-tools-calendar th,
.logseq-tools-calendar td {
    text-align: center;
}


/* pages from other months */

.logseq-tools-calendar .outofmonth {
    opacity: .3;
}

.logseq-tools-calendar .today {
    font-weight: 900;
    color: var(--ls-link-text-color);
}

.logseq-tools-calendar .page-exists {
    border-bottom: 1px solid var(--ls-link-ref-text-color);
}

.logseq-tools-calendar .today.page-exists {
    border-bottom-color: var(--ls-link-text-color);
}